.swal-popup {
  border-radius: 30px;
  width: 700px;
  min-width: 500px;
  padding: 52px;
  border: 3px solid #4d4759;
  box-sizing: border-box;
}

.login-cancel {
  width: 255px !important;
  height: 60px !important;
  box-sizing: border-box !important;
  border: 1px solid #8c4dff !important;
  border-radius: 60px !important;
}

.login-confirm {
  width: 255px !important;
  height: 60px !important;
  margin-left: 31px !important;
  border-radius: 60px !important;
}

.login-action {
  margin: auto !important;
  justify-content: space-between !important;
  margin-top: 32px !important;
  width: 561px !important;
}

.swal2-title {
  padding: 0px;
}

.swal2-actions {
  margin: auto;
  margin-right: 0px;
  margin-top: 54px;
  width: 265px;
  justify-content: space-between;
}

.swal-toast-popup {
  width: 300px;
  height: 80px;
  border-radius: 8px;
  background-color: '#1d1d22';
}

.write-confirm {
  width: 350px !important;
  height: 60px !important;
  margin: auto !important;
  border-radius: 60px !important;
  border: 1px solid #8c4dff !important;
}

.check-popup {
  border-radius: 30px;
  width: 773px;
  min-width: 500px;
  height: 445px;
  padding: 50px;
  border: 3px solid #4d4759;
  box-sizing: border-box;
}
