.login-popup {
  border-radius: 30px !important;
  width: 700px !important;
  min-width: 500px !important;
  padding: 52px !important;
  border: 3px solid #4d4759 !important;
  box-sizing: border-box !important;
}

.login-cancel {
  width: 255px !important;
  height: 60px !important;
  box-sizing: border-box !important;
  border: 1px solid #8c4dff !important;
  border-radius: 60px !important;
}

.login-confirm {
  width: 255px !important;
  height: 60px !important;
  margin-left: 31px !important;
  border-radius: 60px !important;
}

.login-action {
  margin: auto !important;
  justify-content: space-between !important;
  margin-top: 32px !important;
  width: 561px !important;
}

.basic-popup {
  border-radius: 30px !important;
  width: 700px !important;
  min-width: 500px !important;
  padding: 52px !important;
  border: 3px solid #4d4759 !important;
  box-sizing: border-box !important;
}

.basic-title {
  padding: 0px !important;
}

.basic-action {
  margin: auto !important;
  margin-right: 0px !important;
  margin-top: 54px !important;
  width: 265px !important;
  justify-content: space-between !important;
}

.coustom-toast-popup {
  width: 300px !important;
  height: 80px !important;
  border-radius: 8px !important;
  background-color: '#1d1d22' !important;
}

.write-confirm {
  width: 350px !important;
  height: 60px !important;
  margin: auto !important;
  border-radius: 60px !important;
  border: 1px solid #8c4dff !important;
}

.check-popup {
  border-radius: 30px !important;
  width: 773px !important;
  min-width: 500px !important;
  height: 445px !important;
  padding: 50px !important;
  border: 3px solid #4d4759 !important;
  box-sizing: border-box !important;
}
